@import './colors.scss';

/** mixins **/
@mixin no-select {
  user-select: none;
}
@mixin standard-shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .13), 1px 2px 2px rgba(0, 0, 0, .1), -1px -2px 2px rgba(0, 0, 0, .05);
}
@mixin hover-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13), 1px 2px 3px rgba(0, 0, 0, .1), -1px -2px 3px rgba(0, 0, 0, .05);
}

$separator: 1px solid rgba(0, 0, 0, 0.2);
$border: 1px solid rgba(255, 255, 255, 0.7);
$light-border: 1px solid rgba(255, 255, 255, 0.2);
$standard-border-radius: 4px;
$bezier-transition: 0.3s cubic-bezier(0, 0, 0.24, 1);
